<% include ./partials/header %>
            <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
            <title>FutScore</title>
            <h1><center>FutScore Livescores</center></h1>
        </head>
        
        <body>
            
            <div class="ui green fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="futbol icon" style="font-size: 2em;"></i><h2 style="margin-top: -2px !important;">FutScore</h2></div>
                    <a href="/" class="item">Home</a>
                    <a href="/fav_leagues" class="item">My Leagues</a>
                    <a href="/fav_teams" class="item">My Teams</a>
                </div>
            </div>
            
            <center>
                
                <table class="ui fixed table">
                    <thead>
                        <tr>
                            <th colspan="4"><center>Favourite Teams</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% body["data"]["match"].forEach(function(fixture) { %>
                            <% teams.forEach(function(team) { %>
                                <% if (fixture.home_name == team.team_name || fixture.away_name == team.team_name) { %>
                                    <tr>
                                        <td id="time"><a class="ui green circular label"><%= fixture.time %></a></td>
                                        <td><%= fixture.home_name %></td>
                                        <td><%= fixture.score %></td>
                                        <td><%= fixture.away_name %></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        <% }); %>
                    </tbody>
                </table>
                
                <% leagues.forEach(function(league) { %>
                    <table class="ui fixed table">
                        <thead>
                            <tr>
                                <th colspan="4"><center><%= league.league_name %></center></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% body["data"]["match"].forEach(function(fixture) { %>
                                <% if (fixture.league_name == league.league_name) { %>
                                    <tr>
                                        <td id="time"><a class="ui green circular label"><%= fixture.time %></a></td>
                                        <td><%= fixture.home_name %></td>
                                        <td><%= fixture.score %></td>
                                        <td><%= fixture.away_name %></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                <% }); %>
<% include ./partials/footer %>