<% include ./partials/header %>
        <h1>Table Standings!</h1>
    </head>
    <body>
        <center>
        <table class="ui selectable celled table" style="width: 80%; text-align: center;">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>PG</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <% body["standings"][0]["table"].forEach(function(fixture) { %>
                    <tr style="height: 50px;">
                        <td><%= JSON.stringify(fixture.position); %></td>
                        <td><img src="<%= fixture.team.crestUrl %>" height="40" width="40" style="float: left;"><%= fixture.team.name %></td>
                        <td><%= JSON.stringify(fixture.playedGames); %></td>
                        <td><%= JSON.stringify(fixture.won); %></td>
                        <td><%= JSON.stringify(fixture.draw); %></td>
                        <td><%= JSON.stringify(fixture.lost); %></td>
                        <td><%= JSON.stringify(fixture.goalsFor); %></td>
                        <td><%= JSON.stringify(fixture.goalsAgainst); %></td>
                        <td><%= JSON.stringify(fixture.goalDifference); %></td>
                        <td><%= JSON.stringify(fixture.points); %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        </center>
<% include ./partials/footer %>
