<% include ./partials/header %>
            <link rel="stylesheet" type="text/css" href="/stylesheets/add_league.css"/>
            <title>Teams</title>
            <h1><center>Teams</center></h1>
        </head>
        
        <body>
            
            <!-- nav bar -->
            <div class="ui green fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="futbol icon" style="font-size: 2em;"></i><h2 style="margin-top: -2px !important;">FutScore</h2></div>
                    <a href="/" class="item">Home</a>
                    <a href="/fav_leagues" class="item">My Leagues</a>
                    <a href="/fav_teams" class="item">My Teams</a>
                </div>
            </div>
            
            <table class="ui fixed table">
                <thead>
                    <tr>
                        <th colspan="4"><center>Favourite Teams</center></th>
                    </tr>
                </thead>
                <tbody>
                    <% body["matches"].forEach(function(fixture) { %>
                        <% teams.forEach(function(team) { %>
                            <% if (fixture["homeTeam"]["name"] == team.team_name || fixture["awayTeam"]["name"] == team.team_name) { %>
                                <tr>
                                    <td id="time"><a class="ui green circular label"><%= fixture.status %></a></td>
                                    <td><%= fixture["homeTeam"]["name"] %></td>
                                    <td><%= fixture["score"]["fullTime"]["homeTeam"] %> - <%= fixture["score"]["fullTime"]["awayTeam"] %></td>
                                    <td><%= fixture["awayTeam"]["name"] %></td>
                                </tr>
                            <% } %>
                        <% }); %>
                    <% }); %>
                </tbody>
            </table>
            
            <center>
            <% leagues.forEach(function(league) { %>
                <% if (body["competition"]["name"] == league.league_name) { %>
                    <table class="ui fixed table">
                        <thead>
                            <tr>
                                <th colspan="4"><center><%= league.league_name %></center></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% body["matches"].forEach(function(fixture) { %>
                                <% if (fixture.status == "FINISHED" && fixture.stage == "GROUP_STAGE") { %>
                                    <tr>
                                        <td id="time"><a class="ui green circular label"><%= fixture.status %></a></td>
                                        <td><%= fixture["homeTeam"]["name"] %></td>
                                        <td><%= fixture["score"]["fullTime"]["homeTeam"] %> - <%= fixture["score"]["fullTime"]["awayTeam"] %></td>
                                        <td><%= fixture["awayTeam"]["name"] %></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>
            <% }); %>
            </center>
<% include ./partials/footer %>